<style> 
div {
  width: 260px;
  height: 500px;
  background-color: red;
  position: relative;
  animation-name: myAnimation;
  animation-duration: 8s;
}

@keyframes myAnimation {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:black; left:200px; top:0px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>
